Source: libirmath
Standards-Version: 2.0.0
Section: libs
Priority: optional
Maintainer: Atlas Yu <atlas.yu@canonical.com>
Build-Depends: clang (>= 1:14), llvm (>= 1:14), make (>= 4.3), debhelper-compat (= 13)

Package: libirmath
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: DPA(Debian policy adventure): math library built from LLVM IR, shared object(s).
Breaks: libcmath (<< 2), calcfac (<< 1)
Replaces: libcmath (<< 2)
Recommends: libirmath-dev (= ${binary:Version})
Provides: libadvmath

Package: libirmath-dev
Architecture: all
Depends: ${misc:Depends}, libirmath (= ${binary:Version})
Description: DPA(Debian policy adventure): math library built from LLVM IR, header file(s).
